footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	overflow: hidden;
	height: 60px;
	background-color: #2b2b2b;
	color: #bbb;
	margin-top: auto;
	padding: 2px;
}

footer a {
	color: rgb(243, 173, 107);
	text-decoration: none;
	padding: 5px;
	border-radius: 2px;
}

footer a:hover {
	background-color: #00000022;
}

footer p {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8rem;
}

.dev-note {
	color: #b77;
	margin-top: 5px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
