footer {
	display: flex;
	justify-content: space-between;
	align-content: center;
	position: fixed;
	bottom: 0;
	height: fit-content;
	width: 100%;
	padding: 15px;
	background-color: #2b2b2b;
	color: #ccc;
}

footer a {
	color: rgb(243, 173, 107);
	text-decoration: none;
	padding: 5px;
	border-radius: 2px;
}

footer a:hover {
	background-color: #00000022;
}

footer p {
	font-family: Arial, Helvetica, sans-serif;
}

.dev-note {
	color: #aaa;
	font-size: 0.9rem;
}
