header {
	display: flex;
	justify-content: space-between;
	position: sticky;
	width: 100%;
	align-items: center;
	padding: 5px 10px;
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
	box-shadow: 0px 2px 5px #000000;
	background-color: #2b2b2b;
	top: 0;
}

h1 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 2rem;
	color: rgb(243, 173, 107);
}

header a {
	color: #eee;
	text-decoration: none;
	font-size: 1.4rem;
	padding: 5px 12px;
}

header a:hover {
	color: rgb(243, 173, 107);
	background-color: #00000022;
	border-radius: 4px;
}
