header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	font-family: Arial, Helvetica, sans-serif;
	box-shadow: 1px 1px 3px rgb(172, 172, 172);
}

h1 {
	color: #358;
}

header a {
	color: black;
	text-decoration: none;
	font-size: 1.25rem;
	padding: 5px 12px;
}

header a:hover {
	color: #006bb3;
	background-color: #00000044;
	border-radius: 2px;
}
