header {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 5;
	max-width: 100%;
	align-items: center;
	padding: 5px 2px;
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
	box-shadow: 0px 0px 5px 2px #000000;
	background-color: #2b2b2b;
	overflow: hidden;
}

h1 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.2rem;
	width: fit-content;
	color: rgb(243, 173, 107);
}

nav {
	display: flex;
	flex-wrap: nowrap;
}

a span {
	display: none;
}

header a {
	color: #eee;
	text-decoration: none;
	font-size: 1.5rem;
	padding: 8px 10.5px;
}

header a:active,
header a:hover {
	color: rgb(243, 173, 107);
	background-color: #00000022;
	border-radius: 4px;
}

/* Large Phones */
@media only screen and (min-width: 400px) {
	h1 {
		font-size: 1.5rem;
	}
}

/* Tablets */
@media only screen and (min-width: 768px) {
	a span {
		display: inline;
		vertical-align: 1px;
		margin-left: 5px;
	}
}

/* Modern Computer Screens */
@media only screen and (min-width: 1200px) {
	h1 {
		font-size: 1.8rem;
	}
}
