.product-flex {
	display: flex;
	flex-wrap: nowrap;
}

.product {
	color: #eee;
	padding: 20px;
}

.product h2,
.product h3 {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.product hr {
	margin: 10px 0;
}

.product .img {
	height: 500px;
	width: 500px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 5px;
}

.product .sku {
	font-size: 0.8rem;
	margin-bottom: 10px;
}

.description-hr {
	border: none;
	color: transparent;
	height: 1px;
	background: linear-gradient(
		90deg,
		transparent 0%,
		#eee 40%,
		transparent 100%
	);
}

/* Pricing section */

.pricing {
	width: 30%;
	justify-self: flex-end;
	text-align: center;
}

#quantity {
	width: 40px;
}
