.login {
	margin: 100px auto 20px auto;
	padding: 10px;
	background-color: #e6e6e6;
	border-radius: 5px;
	box-shadow: 0px 2px 6px rgb(129, 129, 129);
	max-width: 600px;
	justify-self: center;
}

.login h2 {
	width: 100%;
	text-align: center;
}

.login hr {
	width: 80%;
	margin: 10px auto;
	height: min-content;
	text-align: center;
}

.login form {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}

.login input,
.login label {
	width: 200px;
	margin: 2px auto;
	font-size: 1rem;
}

.login button {
	width: fit-content;
	margin: 10px auto;
	padding: 5px 10px;
	font-size: 1.25rem;
	background-color: #5a9bd8;
	border-radius: 3px;
	border: 1px solid grey;
}

.login button:hover {
	background-color: #c7e4ff;
	color: #444;
	cursor: pointer;
	border: 1px solid rgb(206, 206, 206);
}

.login button:active {
	background-color: #617d97;
	color: #1d2022;
}

.login-register {
	text-align: center;
	padding: 5px;
}

.login-register a {
	color: #202a33;
	text-decoration: none;
	font-size: 1.1rem;
}

.login-register a:hover {
	color: #617d97;
}
