.register {
  margin: auto 5px;
  padding: 5px;
  background-color: #555;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgb(49, 49, 49);
  max-width: 600px;
  justify-self: center;
  color: #eee;
}

.register h2 {
  width: 100%;
  text-align: center;
}

.register hr {
  width: 80%;
  margin: 10px auto;
  height: min-content;
  text-align: center;
}

.error {
  position: absolute;
  left: 56.5%;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #aaa;
  background-color: rgba(175, 23, 0, 0.85);
  font-size: 1.2rem;
  color: white;
}

.register form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.register input {
  position: relative;
  float: right;
  margin-bottom: 5px;
  padding: 3px;
  font-size: 0.9rem;
  border-radius: 3px;
  border: 1px solid #777;
  background-color: #3a3a3a;
  color: #eee;
}

.register label {
  width: 100%;
  margin: 2px auto;
  font-size: 1rem;
}

.register form button {
  width: fit-content;
  margin: 10px auto;
  padding: 5px 10px;
  font-size: 1.25rem;
  background-color: transparent;
  color: #eee;
  border-radius: 3px;
  border: 1px solid rgba(255, 244, 224, 0.76);
}

.register form button:hover {
  background-color: #ffb42844;
  cursor: pointer;
}

.register form button:active {
  background-color: #617d97;
  color: #1d2022;
}

.register-login {
  text-align: center;
  padding: 5px;
}

.register-login button {
  color: #eee;
  text-decoration: none;
  font-size: 1.1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.register-login button:hover {
  color: #be8651;
}

/* Large phones */
@media only screen and (min-width: 400px) {
  .register {
    width: 80%;
    margin: auto;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) {
  .register form {
    width: 80%;
    margin: auto;
  }

  .register input {
    width: 60%;
  }
}
