.admin-page {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-gap: 5px;
	padding: 20px;
	color: #eee;
}

.admin-page label {
	width: 100% !important;
	margin-bottom: 5px;
}

.admin-page button {
	margin: 10px auto;
	padding: 10px;
	width: 100%;
	border: 1px solid rgba(255, 244, 224, 0.76);
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	color: #eee;
	background-color: transparent;
}

.admin-page button:hover {
	cursor: pointer;
	background-color: #ffb42844;
}

.admin-page hr {
	border: 1px solid #bbb;
	box-shadow: 0px 2px 3px #00000040;
}

.admin-popup select,
.admin-popup input {
	position: relative;
	float: right;
	margin-left: 5px;
	width: 75%;
}

.buttons {
	width: 100%;
	text-align: center;
}

.buttons button {
	font-size: 1rem;
	width: 45%;
}
