.address-title {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.8rem;
}

.address-list {
	display: grid;
	grid-template-columns: repeat(3, 300px);
	grid-auto-flow: row;
	grid-gap: 5px;
	width: fit-content;
	margin: 20px auto;
}

.address {
	width: 300px;
	height: 160px;
	padding: 10px;
	border: 1px solid #666;
	border-radius: 2px;
	background-color: #555;
}

.address h3 {
	font-family: 'Roboto';
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.address-names {
	font-weight: 700;
}

.address p {
	font-size: 16px;
}

.address-buttons {
	position: relative;
	float: right;
	margin-top: 10px;
}

.address-buttons button {
	margin-left: 5px;
	padding: 5px 10px;
	cursor: pointer;
	border: 1px solid #666;
	border-radius: 4px;
	background-color: transparent;
	color: #eee;
	text-transform: uppercase;
}

.address-buttons button:hover {
	transition: 100ms;
	background-color: #00000022;
	color: rgb(255, 185, 93);
}

.add-address {
	height: 160px;
	font-size: 1.2rem;
	cursor: pointer;
	border: 1px solid #666;
	border-radius: 2px;
	background-color: #555;
	color: #eee;
}

.add-address:hover {
	background-color: rgba(255, 185, 93, 0.3);
}

.default-address {
	border-radius: 4px;
	padding: 2px 5px;
	background-color: rgba(255, 185, 93, 0.3);
}

#address-details {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	border: 1px solid #999;
	border-radius: 3px;
	width: 100%;
}

#address-details label {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#address-details input {
	margin: 0;
	width: fit-content;
	margin: auto 5px;
}

#address-details .address-name {
	width: max-content;
}

#address-details .is-default-input {
	width: min-content;
	cursor: pointer;
}

#address-details input.is-default-input {
	opacity: 0;
	height: 0;
	width: 0;
}

/* custom checkbox */
.checkmark {
	top: 0;
	left: 0;
	height: 22px;
	width: 22px;
	background-color: #3a3a3a;
	border-radius: 10%;
	border: 1px solid #777;
	margin-right: 5px;
}

.is-default-input input:checked ~ .checkmark {
	background-color: rgba(255, 177, 75, 0.808);
}

/* checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: '';
	position: relative;
	display: none;
}

/* Show the checkmark when checked */
.is-default-input input:checked ~ .checkmark:after {
	display: block;
}

/* checkmark/indicator styles */
.is-default-input .checkmark:after {
	left: 6px;
	top: 3px;
	width: 5px;
	height: 8px;
	border: solid #eee;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}
