main {
	margin: 20px auto;
	background-color: #e6e6e6;
	border-radius: 5px;
	box-shadow: 2px 2px 4px rgb(117, 117, 117);
	max-width: 600px;
	justify-self: center;
}

h2 {
	width: 100%;
	text-align: center;
}

hr {
	width: 80%;
	margin: 10px auto;
	height: min-content;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}

input,
label {
	width: 200px;
	margin: 2px auto;
}

button {
	width: fit-content;
	margin: 10px auto;
	padding: 5px 10px;
	font-size: 1.25rem;
	background-color: #5a9bd8;
	border-radius: 3px;
	border: 1px solid grey;
}

button:hover {
	background-color: #c7e4ff;
	cursor: pointer;
	border: 1px solid rgb(206, 206, 206);
}

button:active {
	background-color: #617d97;
	color: #1d2022;
}

.register {
	text-align: center;
	padding: 5px;
}
