.profile {
	position: relative;
	margin: 20px;
}

.flex {
	display: grid;
	grid-template-columns: repeat(2, 500px);
	justify-content: center;
}

.user-buttons {
	position: relative;
	margin: 0 auto;
}

.profile h2 {
	width: 100%;
	margin: 15px 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
}

.profile a {
	width: fit-content;
	text-decoration: none;
	border-radius: 5px;
	padding: 20px;
	color: black;
}

.profile a:hover {
	background-color: rgba(152, 188, 219, 0.747);
}

.logout {
	display: flex;
	justify-content: center;
	padding: 5px 10px;
	margin: 50px auto;
	font-size: 1rem;
	font-family: Helvetica, sans-serif;
	background-color: white;
	border-radius: 3px;
	border: 1px solid #aaa;
}

.logout:hover {
	cursor: pointer;
	background-color: #cdf;
}
