/* Hero Styles */

.hero {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 800px;
	background-image: url('../resources/hero.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.greeting {
	width: 40%;
	text-align: center;
	font-size: 2.3rem;
	font-weight: 500;
	padding: 20px;
	color: #ccc;
	font-family: 'Roboto';
	background-color: #00000044;
	backdrop-filter: blur(4px);
	border-radius: 10px;
}

/* About Styles */

.about {
	padding: 20px;
	color: rgb(204, 142, 92);
	background-color: #555;
}
